<!-- titre de la page  -->
<div class="principal">

  <div class="left">
    <div class="upbar">
<!-- Le titre de la page  -->
      <h1>Liste des restaurants</h1>
    </div>
<!-- Les cartes  -->
    <div class="afiche">
    <!--  -->
      <div class="carte">
        <div class="image">
          <img src="../../../assets/images/restau.png" alt="">
        </div>
        <div class="titre">
          <h3>Le goût de çà</h3>
        </div>
      </div>
    <!--  -->

    </div>
  </div>

  <!-- la partie details  -->
  <div class="right">
    <div class="detail">
      <h1>
      Plus de details
      </h1>
    </div>

  </div>

</div>
