<!-- titre de la page  -->
<div class="principal">

  <div class="left">
    <div class="upbar">
<!-- Le titre de la page  -->
      <h1>Liste des restaurants</h1>
    </div>
<!-- Les cartes  -->
    <div class="afiche" >
    <!--  -->
      <div class="carte" *ngFor=" let data of Restau ">
        <div class="image">
          <!-- recuperer l'image dans firestorage et le mettre ici -->
          <img [src]="data.fileInput" alt="image du restaurant">
        </div>
        <div class="titre">
          <h3>{{data.nom}}</h3>
        </div>
      </div>
    <!--  -->

    </div>
  </div>

  <!-- la partie details  -->
  <div class="right">
    <div class="detail">
      <h1>
      Plus de details
      </h1>
    </div>

  </div>

</div>
